<div class="container" [formGroup]="form">
  <div >
    <div >
      <div [ngClass]="fieldType=='checkbox' && 'checkboxClass'">
        <label for="{{ formItem.label }}">{{ formItem.label }}</label>
      <input
        [type]="fieldType"
        [formControlName]="formItem.field"
        class="form-control"
        id="formItem.label"
        [ngModel] = "fieldType=='checkbox' || fieldType=='hidden' ? formItem.label : ''"
        [required]="formItem.mandatory"
      />
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
